# ==============================
# DATABASE (Drizzle / Backend)
# ==============================
DATABASE_URL=postgresql://postgres.TU_PROJECT_ID:TU_PASSWORD@aws-0-TU_REGION.pooler.supabase.com:6543/postgres


# ==============================
# SUPABASE (Frontend - Vite)
# ==============================
VITE_SUPABASE_URL=https://TU_PROJECT_ID.supabase.co
VITE_SUPABASE_ANON_KEY=TU_ANON_KEY


# ==============================
# APP CONFIG
# ==============================
VITE_PUBLIC_APP_URL=http://localhost:5173